.white {
    color: white;
}

.a {
color: black;
}

.banner img {

    max-width: 700px;
    padding:5px;
}

.rotated {
    transform: rotate(270deg); /* Equal to rotateZ(45deg) */

}

/*.rotateimg90 {*/
/*    -webkit-transform:rotate(90deg);*/
/*    -moz-transform: rotate(90deg);*/
/*    -ms-transform: rotate(90deg);*/
/*    -o-transform: rotate(90deg);*/
/*    transform: rotate(90deg);*/
/*}*/


* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .modalImage {
        width: 100%;
    }
}