.white {
    color: white;
}

.a {
color: black;
}

.banner img {

    max-width: 700px;
    padding:5px;
}


* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .modalImage {
        width: 100%;
    }
}